html,body{
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  margin:0;
  padding:0;
  background-color: #F7F7F7;
}



  /* Navbar */
.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color:  transparent;
  border:none;
  font-size: 15px;
  font-weight: 400;
  padding-top: 20px;
}



#navbar ul li a{
  color: white;
  letter-spacing: 1px;
}



/* Hero Section */
.jumbotron {
  background:url(../photos/condominium.jpg) no-repeat center center;
  background-size: cover;
  height: 600px;
  padding-top:170px;
}





.jumbotron h2 {
  font-size: 38px;
  color: #fff;
  margin-bottom: 0;
  letter-spacing: 1px;
  font-weight: 600;
  margin-left: 260px;
  padding-bottom:30px;
}



.jumbo {
  /* height:400px; */
  display:flex;
  justify-content: center;
  /* align-items: center; */
  /* align-items: center; */
 }



 /* Filter */
#filter {
  display:flex;
  flex-wrap: wrap;
  border: none;
  width:1000px;
  height:100px;
  background: rgba(0, 0, 0, 0.6);
  justify-content: space-evenly;
  align-items: center;
}



.selection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;

}



.select select{
  color:white;
  background: #0C74B4;
  line-height: 1;
  border:none;
  padding: 5px 10px ;
  border-radius: 0;
  position: relative;
  z-index: 10;
  font-size:13px;
}



select:focus {
  outline:none;
}



.select p {
  font-size: 15px;
  color:white;
}



#selectType {
  height:37px;
  width: 150px;
}



#selectRooms {
  height:37px;
  width:50px;
}



#petFriendly {
  height:37px;
  width:70px;
}



#selectCategory {
  height:37px;
  width:200px;
}

.searchButton {
  background-color: #1ABC9C;
}



.btn:focus {
  outline:none !important;
}



/* Section 3 collumns presentation  */
.smallPresentation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: #E8E5E5; */

}



.eachPresentation {
  margin-top:50px;
  margin-right: 30px;
  margin-bottom: 50px;
}



.image {
  border-radius: 3px;
  background:url(../photos/condo-2618421_640.jpg) no-repeat center center;
  background-size: cover;
  height: 220px;
  width: 380px  ;

}



.description {
  border-top: 3px;
  padding:10px 0 10px 0;
  padding-left:15px;
  box-shadow: 1px 2px #C8C8C8;
  width:380px;
  background-color: white;
  display:flex;
  /* justify-content: center; */
  flex-direction: column;
  /* text-align: center;
  align-items: center; */
}



.description h3 {
  letter-spacing: 1px;
  font-size: 22px;
  font-weight: 700 !important;
  color: #555a6b;
}



.description p {
  font-size: 15px;
  color: #555a6b;
}



/* Residential buildings  */
.residential {
  display: flex;
  background-color: #1E3C55;
  justify-content: space-between;
  flex-wrap: wrap;
  padding:40px 0;
}


.residential h3 {
  color: white;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}



.residential p {
  color: white;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
}


/* Trying to distribue evenly */
/* .residentialDescription {
  margin-left:150px;
  margin-right:500px;
} */


.visitButton {
  display:flex;
  align-items: center;
}
#visitBtn {
  padding: 12px 20px 35px 20px;;
  width: 130px;
  height: 40px;
  color:white;
  background-color: #0F81C7;
  border: none;
  color: white;
  border-radius: 3px;
}


#visitBtn p {
  font-size: 18px
}



/* Offer section style */
.offer {
  display:Flex;
  margin-top:60px;
  justify-content: center;
  margin-bottom:60px;
  flex-wrap: wrap;
}



.offerSection {
  margin-right:30px;
  display: flex;
  flex-direction: column;
  width:400px;
  background-color: white;
  border-radius:50px;
  box-shadow: 1px 2px #C8C8C8;
  padding:30px 40px 30px 40px;
}


.offerSection h3 {
  letter-spacing: 1px;
  font-size: 22px;
  font-weight: 700 !important;
  color: #555a6b;
}

.offerSection p {
  font-size: 15px;
  color: #555a6b;
}

.offerSection a:hover {
text-decoration: none;
}



/* Footer */
footer{
height:200px;
background-color:#343A40;
display: flex;
justify-content:space-evenly;
flex-wrap: wrap-reverse;
}

footer h2 {
  color: #828A92;
  font-size: 15px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  font-size: 15px;
  line-height: 20px;

}

footer ul li a {
  color: #D7D8DA;
}

footer ul li a:hover {
  color:#D7D8DA;
  text-decoration: none;
}
footer .socialMedia {
  font-size: 30px;
  margin-right:5px;
  color: white;
}

#joinNewsletter{
  /* margin-left: 30px; */
  /* box-shadow: 0.1em 0.1em 0.2em #888; */
}

#joinNewsletter:hover{
  /* background-color:transparent; */
  outline: none;
}

#joinNewsletter:focus{
  outline: none;
  /* background-color: transparent; */
  border: 0.5px solid grey;
}  /* Calculator CSS finish */

#letter{
  display: flex;
}



#filtered {
  display:none;
}



.filteredImage {
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 220px;
  width: 380px  ;

}
